In [82]:
import pandas as pd

# Load dataset
df = pd.read_csv(r"C:\Users\Yash\Downloads\archive (1)\AWCustomers.csv")

In [50]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [66]:
df.drop(['Title','FirstName','MiddleName','LastName','Suffix','AddressLine2','AddressLine1','StateProvinceName'],axis=1)

,CustomerID,City,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,Wollongong,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1,3,0,1,0.496842,2017-03-06
1,13249,Shawnee,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1,2,1,2,0.489453,2017-03-06
2,29350,West Covina,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0,3,0,0,0.536172,2017-03-06
3,13503,Liverpool,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1,2,1,2,0.317083,2017-03-06
4,22803,Werne,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1,1,0,0,0.231958,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Coronado,United States,92118,292-555-0130,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,1,0,2,0.242065,2017-03-06
18357,11459,Port Macquarie,Australia,2444,1 (11) 500 555-0171,1992-10-13,Bachelors,Skilled Manual,F,S,0,2,0,0,0.312781,2017-03-06
18358,12160,Beaverton,United States,97005,819-555-0110,1983-11-24,Partial College,Skilled Manual,F,S,0,2,0,0,0.232442,2017-03-06
18359,14353,Vancouver,Canada,V7L 4J4,791-555-0118,1995-06-15,High School,Clerical,F,S,0,0,0,0,0.543121,2017-03-06
18360,16676,Grossmont,United States,91941,553-555-0122,1986-03-26,Graduate Degree,Professional,F,M,1,2,0,0,0.980128,2017-03-06

In [14]:
 import pandas as pd

In [54]:
 print(pd.isna(df))

       CustomerID  Title  FirstName  MiddleName  LastName  Suffix  \
0           False   True      False       False     False    True
1           False   True      False        True     False    True
2           False   True      False        True     False    True
3           False   True      False        True     False    True
4           False   True      False       False     False    True
...           ...    ...        ...         ...       ...     ...
18356       False   True      False       False     False    True
18357       False   True      False        True     False    True
18358       False   True      False        True     False    True
18359       False   True      False       False     False    True
18360       False   True      False        True     False    True

       AddressLine1  AddressLine2   City  StateProvinceName  ...  Education  \
0             False          True  False              False  ...      False
1             False          True  False              False  ...      False
2             False          True  False              False  ...      False
3             False          True  False              False  ...      False
4             False          True  False              False  ...      False
...             ...           ...    ...                ...  ...        ...
18356         False          True  False              False  ...      False
18357         False          True  False              False  ...      False
18358         False          True  False              False  ...      False
18359         False          True  False              False  ...      False
18360         False          True  False              False  ...      False

       Occupation  Gender  MaritalStatus  HomeOwnerFlag  NumberCarsOwned  \
0           False   False          False          False            False
1           False   False          False          False            False
2           False   False          False          False            False
3           False   False          False          False            False
4           False   False          False          False            False
...           ...     ...            ...            ...              ...
18356       False   False          False          False            False
18357       False   False          False          False            False
18358       False   False          False          False            False
18359       False   False          False          False            False
18360       False   False          False          False            False

       NumberChildrenAtHome  TotalChildren  YearlyIncome  LastUpdated
0                     False          False         False        False
1                     False          False         False        False
2                     False          False         False        False
3                     False          False         False        False
4                     False          False         False        False
...                     ...            ...           ...          ...
18356                 False          False         False        False
18357                 False          False         False        False
18358                 False          False         False        False
18359                 False          False         False        False
18360                 False          False         False        False

[18361 rows x 24 columns]

In [28]:
 df.fillna(method='pad')

C:\Users\Yash\AppData\Local\Temp\ipykernel_18332\1822911545.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='pad')

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,C,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,C,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,C,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Ms.,Grace,C,Bailey,Jr.,6627 Camelback Ct.,# 22,Coronado,California,...,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,Ms.,Tasha,C,Deng,Jr.,9627 Kendall Rd,# 22,Port Macquarie,New South Wales,...,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,Ms.,Jaclyn,C,Zhang,Jr.,4364 Viera Avenue,# 22,Beaverton,Oregon,...,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,Ms.,Erin,I,Reed,Jr.,3866 Mt. Everest Court,# 22,Vancouver,British Columbia,...,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,Ms.,Amanda,I,Perry,Jr.,7870 Orangewood Dr.,# 22,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [80]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,0.6,0,1,0.496842,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,0.4,1,2,0.489453,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,0.6,0,0,0.536172,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,0.4,1,2,0.317083,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,0.2,0,0,0.231958,2017-03-06

In [90]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df['YearlyIncome']=scaler.fit_transform(df['YearlyIncome'].values.reshape(-1, 1)).flatten()

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['NumberCarsOwned']=scaler.fit_transform(df['NumberCarsOwned'].values.reshape(-1, 1)).flatten()

In [98]:
df.drop(['Title','FirstName','MiddleName','LastName','Suffix','AddressLine2','AddressLine1','StateProvinceName'],axis=1)

,CustomerID,City,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,Wollongong,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1,0.6,0,1,0.298555,2017-03-06
1,13249,Shawnee,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1,0.4,1,2,0.271180,2017-03-06
2,29350,West Covina,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0,0.6,0,0,0.444261,2017-03-06
3,13503,Liverpool,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1,0.4,1,2,-0.367401,2017-03-06
4,22803,Werne,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1,0.2,0,0,-0.682765,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Coronado,United States,92118,292-555-0130,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,0.2,0,2,-0.645321,2017-03-06
18357,11459,Port Macquarie,Australia,2444,1 (11) 500 555-0171,1992-10-13,Bachelors,Skilled Manual,F,S,0,0.4,0,0,-0.383337,2017-03-06
18358,12160,Beaverton,United States,97005,819-555-0110,1983-11-24,Partial College,Skilled Manual,F,S,0,0.4,0,0,-0.680973,2017-03-06
18359,14353,Vancouver,Canada,V7L 4J4,791-555-0118,1995-06-15,High School,Clerical,F,S,0,0.0,0,0,0.470006,2017-03-06
18360,16676,Grossmont,United States,91941,553-555-0122,1986-03-26,Graduate Degree,Professional,F,M,1,0.4,0,0,2.088996,2017-03-06

In [108]:
from sklearn.preprocessing import MaxAbsScaler
scaler =MaxAbsScaler()
df['TotalChildren']=scaler.fit_transform(df['TotalChildren'].values.reshape(-1, 1)).flatten()

In [112]:
print

,CustomerID,City,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,Wollongong,Australia,2500,1 (11) 500 555-0115,1987-11-13,Bachelors,Clerical,M,M,1,0.6,0,0.333333,0.298555,2017-03-06
1,13249,Shawnee,Canada,V9B 2C3,787-555-0136,1972-07-21,Partial College,Clerical,M,M,1,0.4,1,0.666667,0.271180,2017-03-06
2,29350,West Covina,United States,91791,120-555-0111,1985-11-09,Bachelors,Clerical,F,S,0,0.6,0,0.000000,0.444261,2017-03-06
3,13503,Liverpool,United Kingdom,L4 4HB,1 (11) 500 555-0167,1977-10-18,Partial College,Skilled Manual,M,M,1,0.4,1,0.666667,-0.367401,2017-03-06
4,22803,Werne,Germany,59368,1 (11) 500 555-0113,1975-02-05,Partial College,Skilled Manual,M,S,1,0.2,0,0.000000,-0.682765,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Coronado,United States,92118,292-555-0130,1990-11-11,Graduate Degree,Skilled Manual,F,M,0,0.2,0,0.666667,-0.645321,2017-03-06
18357,11459,Port Macquarie,Australia,2444,1 (11) 500 555-0171,1992-10-13,Bachelors,Skilled Manual,F,S,0,0.4,0,0.000000,-0.383337,2017-03-06
18358,12160,Beaverton,United States,97005,819-555-0110,1983-11-24,Partial College,Skilled Manual,F,S,0,0.4,0,0.000000,-0.680973,2017-03-06
18359,14353,Vancouver,Canada,V7L 4J4,791-555-0118,1995-06-15,High School,Clerical,F,S,0,0.0,0,0.000000,0.470006,2017-03-06
18360,16676,Grossmont,United States,91941,553-555-0122,1986-03-26,Graduate Degree,Professional,F,M,1,0.4,0,0.000000,2.088996,2017-03-06

In [114]:
import numpy as np

In [118]:
bins=np.linspace(min(df['YearlyIncome']),max(df['YearlyIncome']),4)
group_names=['min','mid','money']
df['YearlyIncome']=pd.cut(df['YearlyIncome'],bins,group_names,include_lowest=True)

In [120]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,0.6,0,0.333333,"(-0.307, 0.928]",2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,0.4,1,0.666667,"(-0.307, 0.928]",2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,0.6,0,0.000000,"(-0.307, 0.928]",2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,0.4,1,0.666667,"(-1.543, -0.307]",2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,0.2,0,0.000000,"(-1.543, -0.307]",2017-03-06

In [164]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
city_encoded = onehotencoder.fit_transform(df[['City']])

In [166]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,0.6,0,0.333333,"(-0.307, 0.928]",2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,0.4,1,0.666667,"(-0.307, 0.928]",2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,0.6,0,0.000000,"(-0.307, 0.928]",2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,0.4,1,0.666667,"(-1.543, -0.307]",2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,0.2,0,0.000000,"(-1.543, -0.307]",2017-03-06